.footer { 
    overflow-x: auto    

}
footer { 
    padding: 2%;
    background-color: #e1dfb6;

}
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin:  auto;
    padding-top: 2%;
}

.img-container img { 
    border-radius: 50%;
    height: 250px;
}
.about-container { 
    padding-left: 5%;
}
.about-container p { 
    font-size: 1.6rem;
    color:  #8cb04e
}
.about-container a{
    color: 
    #5c452d;
    font-size: 1rem;
}