
.editor-container {
    position: absolute;
    right: -2000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    transition: all .3s;
}

.editor-container.shown {
    position: relative;
    right: 0;
    display: grid;
    padding: 5%;
    grid-gap: 10%;
    grid-template-columns: 50% 40%;
}

.meme-editor {
    width: 100%;
    font-family: 'Arial';
}

.meme-editor .line-input {
    width: 100%;
}

.under-input-container {
    display: flex;
    justify-content: space-evenly;
}

.buttons-container {
    padding: 5% 10% 5% 0;
    background: linear-gradient(#7b924400,#7b92444d);
    border-radius: 15px;
}
.editor-buttons {
    width: 90%;
    margin: 2% 15%;
}
.meme-editor button {
    height: 35px;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 2%;
    cursor: pointer;
    transition: all .1s;
}
.meme-editor .fas,
.meme-editor .far { 
color: #161414
}
.meme-editor button:hover .fas,
.meme-editor button:hover .far{ 
    color: #8cb04e;
}

.meme-editor .editor-buttons button {
    width: 25%;
    
}
.bottom-btn-row { 
display: flex;
margin: 0 15%;
width: 85%;
}
.bottom-btn-row button{ 
width: 20%;
}
.meme-editor .fas { 
    color: #161414;
}
.color-change-btn{
    margin-top: 20%;
}
.card img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    text-align: center;
    height: 200px;
}

.color-changer {
    display: flex;
    width: 65%;
    margin: 0 auto;
}

.color-change label {
    flex-direction: column;

}

.color-changer .download-btn {
    margin: 0 10px;
}



.color-changer .change input {
    width: 30px;
    height: 30px;
    border: none;
}





.line-input {
    height: 35px;
    font-size: 1rem;
    color: #8cb04e;
    border-radius: 10px;
    border: 2px solid #8cb04e;
    margin-bottom: 3%;
    width: 100%;
    right: 2500px;
    opacity: 0;
}
.editor-container.shown .line-input{
    position: absolute;
}
.meme-editor select {
    width: 45%;
}