
.editor-container { 
position: absolute;
right: -2000px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 5%;
transition: all .3s ;
}

.editor-container.shown { 
position: relative;
right: 0;
display: grid;
padding: 5%;
grid-template-columns: 2fr 1fr;
}

.meme-editor{
    padding: 5%;
}
.meme-editor input{ 
    width: 100%;
}
.card img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.card {
    text-align: center;
    height: 200px;
}