/* MAIN LAYOUT */
.main-layout {
    max-width: 1500px;
}

@media (max-width: 1420px) {
    .main-layout {
        max-width: 1100px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }

    .gallery-grid.shrunken {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
    }

    .gallery-grid.shrunken .card {
        height: 130px;
    }

    .canvas-container {
        width: 100%;
    }

    #img-canvas {
        width: 100%;
    }


}

@media (max-width: 1100px) {
    .main-layout {
        max-width: 1000px;
    }

    .gallery-grid.shrunken {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
    }

    .gallery-grid.shrunken .card {
        height: 100px;
    }
}

@media (max-width: 1000px) {
    .main-layout {
        max-width: 900px;
    }
    

}


@media (max-width: 860px) {
    .main-layout {
        max-width: 700px;
    }

    .editor-container {
        transition: none !important;
    }

    .main-container.editor-shown {
        grid-template-columns: 1fr;
    }

    .gallery-container {
        order: 1;
    }

    .gallery-grid.shrunken {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
    }

    .gallery-grid.shrunken .card {
        height: 150px;
    }

    .editor-container.shown {
        padding-top: 0;
        order: -1;
        right: 0;
    }

    #img-canvas {
        height: 100%;
    }
.about-section p { 
    font-size: 1rem;
}

}

@media (max-width: 600px) {

    .header h1 {
        float: unset;
        text-align: center;
        margin-top: 0;
        padding-top: 6%;
    }

    .main-layout {
        max-width: 100%;
    }

    .main-container.editor-shown {
        margin-top: 3%;
    }

    .gallery-grid {
        margin-top: 25px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .gallery-grid.shrunken {

        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    }

    .gallery-grid .card {
        height: 100px;
    }

    .gallery-grid.shrunken .card {
        height: 100px;
    }

    .editor-container {
        padding-bottom: 5%;
    }

    .editor-container.shown {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .canvas-container {
        padding: 2%;
        margin-bottom: 5%;
    }

    .color-changer {
        justify-content: space-evenly;
        width: 75%;
        margin: 0 auto;
    }

    .color-changer .fas {
        font-size: 45px;
        margin-top: 34%;
    }

    .color-changer .change input {
        height: 50px;
        width: 50px;
    }
    .about-section{
flex-direction: column;
padding: 5%;
    }
}